index.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body><header>
  <div class="line clearfix">
    <div class="wrap">
      <div class="text">
        RTB Insight.ru.
        <small>Все о RTB (DSP, SSP, Ad Exchange, Ad Network, DMP, Data Exchange)</small>
      </div>
      <div class="social">
        <a class="twitter" href=""></a>
        <a class="facebook" href=""></a>
      </div>
    </div>
  </div>
  <div class="wrap">
    <a class="logo" href=""></a>
    <hr>
    <ul class="menu">
      <li>
        <a href="">Статьи</a>
      </li>
      <li>
        <a href="">новости</a>
      </li>
      <li>
        <a href="">кейсы</a>
      </li>
      <li>
        <a href="">Рекомендуем</a>
      </li>
    </ul>
  </div>
</header>
<section class="wrap main clearfix">
  <aside>
    <div class="banner">
      <a href="">
        <img alt="" src="i/banner.png">
      </a>
    </div>
    <div class="block b_mini_articles">
      <div class="label">Рекомендуем</div>
      <div class="e_mini_article">
        <a class="image clearfix" href="">
          <img alt="" src="i/1.jpg">
          <div class="data">
            <p class="type">Статьи</p>
            <p class="title">Управление аудиториями</p>
          </div>
        </a>
        <p class="date">10 марта 2013</p>
      </div>
      <div class="e_mini_article">
        <a class="image clearfix" href="">
          <img alt="" src="i/1.jpg">
          <div class="data">
            <p class="type">Статьи</p>
            <p class="title">Управление аудиториями</p>
          </div>
        </a>
        <p class="date">10 марта 2013</p>
      </div>
    </div>
    <div class="block">
      <div class="label">ближайшие события</div>
      <a class="e_event" href="">
        <p class="date clearfix">
          <span class="number">19</span>
          марта
          <br>2013</br>
        </p>
        <p class="title">Семинар «Разработка и эффективное продвижение интернет-магазина»</p>
        <p class="text">На семинаре будут рассмотрены все вопросы, касающиеся эффективной электронной коммерции, способах привлечения покупателей и увеличению прибыли вашего интернет-магазина.</p>
      </a>
      <a class="e_event" href="">
        <p class="date clearfix">
          <span class="number">19</span>
          марта
          <br>2013</br>
        </p>
        <p class="title">Семинар «Разработка и эффективное продвижение интернет-магазина»</p>
        <p class="text">На семинаре будут рассмотрены все вопросы, касающиеся эффективной электронной коммерции, способах привлечения покупателей и увеличению прибыли вашего интернет-магазина.</p>
      </a>
    </div>
    <div class="block b_tags">
      <div class="label">метки</div>
      <a href="">future is here</a>
      <a href="">optimization</a>
      <a href="">real</a>
      <a href="">time creative</a>
      <a href="">rtc</a>
      <a href="">динамический креатив</a>
    </div>
    <div class="block">
      <div class="label">свежие комментарии</div>
      <div class="e_comment">
        <dl>
          <dd>10 марта 2013</dd>
          <dt>Управление аудиториями</dt>
        </dl>
        <p>
          <i></i>
          <a href="">Билл Гэйтс, Марк Цукерберг и т.д. призывают обучаться программированию на этом сайте.</a>
        </p>
      </div>
      <div class="e_comment">
        <dl>
          <dd>10 марта 2013</dd>
          <dt>Управление аудиториями</dt>
        </dl>
        <p>
          <i></i>
          <a href="">Билл Гэйтс, Марк Цукерберг и т.д. призывают обучаться программированию на этом сайте.</a>
        </p>
      </div>
    </div>
  </aside>
  <section class="content">
    <article>
      <div class="preview">
        <div class="left">
          <p class="type">
            <i></i>
            Статьи
          </p>
          <p class="author">Валерий КАШИН</p>
          <p class="date">10 марта 2013</p>
          <p class="comments">НЕТ КОММЕНТАРИЕВ</p>
          <p class="tags">тэги: <a href="">rtc</a>, <a href="">optimization</a>, <a href="">creative</a>, <a href="">future</a></p>
          <hr>
          <div class="social"></div>
        </div>
        <div class="data">
          <h4>
            <a href="">Управление аудиториями</a>
          </h4>
          <img alt="" src="i/2.jpg">
          <p>
            Tермин «управление аудиториями» постепенно просачивается в мир емейл-маркетинга и в этом контексте означает примерно следующее: управляя целевой аудиторией, вы комбинируете методы прямого маркетинга, продвижение через социальные сети и другие виды цифрового воздействия.
            <a href="">Читать дальше</a>
          </p>
        </div>
      </div>
    </article>
    <article>
      <div class="preview">
        <div class="left">
          <p class="type">
            <i></i>
            Статьи
          </p>
          <p class="author">Валерий КАШИН</p>
          <p class="date">10 марта 2013</p>
          <p class="comments">НЕТ КОММЕНТАРИЕВ</p>
          <p class="tags">тэги: <a href="">rtc</a>, <a href="">optimization</a>, <a href="">creative</a>, <a href="">future</a></p>
          <hr>
          <div class="social"></div>
        </div>
        <div class="data">
          <h4>
            <a href="">Как оптимизировать RTB-кампании?</a>
          </h4>
          <img alt="" src="i/2.jpg">
          <p>
            Tермин «управление аудиториями» постепенно просачивается в мир емейл-маркетинга и в этом контексте означает примерно следующее: управляя целевой аудиторией, вы комбинируете методы прямого маркетинга, продвижение через социальные сети и другие виды цифрового воздействия.
            <a href="">Читать дальше</a>
          </p>
        </div>
        <div class="long">
          <p>Вообще, анализ аудитории — это удивительная штука. Сегодня вы можете узнать об этих когда-то безликих людях всё или почти всё. Начиная с того, какое устройство они чаще используют для выхода в интернет, и заканчивая их вкусами, увлечениями и поведенческими паттернами. Вы можете вычислить, что человек интересуется или уже хочет приобрести тот или иной продукт, и показать ему рекламу этого продукта в нужном месте и в нужное время — например, когда он находится на сайте сопутствующих товаров или просматривает тематическое сообщество в социальной сети.</p>
          <p>В случае с емейл-маркетингом задача специалиста состоит в том, чтобы сделать формат сообщения удобоваримым для получателя.</p>
          <p>
            <strong>Пример маркированного списка:</strong>
          </p>
          <ul>
            <li>Первый вопрос, на который нужно ответить при подготовке кампании, — «Кому?».</li>
            <li>Как раз для этого и нужен анализ аудитории.</li>
            <li>Он поможет определить, кому из списка лидов действительно может понадобиться продвигаемый продукт и как лучше подступиться к этому сегменту.</li>
          </ul>
          <p>Социальный маркетинг уступает другим видам в плане монетизации, но это огромное информационное поле, которое оказывает сильное влияние на другие онлайн-каналы и на электронный CRM. В социальных сетях вы можете получить исчерпывающую информацию о том, что происходит в жизни людей, чем они интересуются, каким брендам отдают предпочтение и т. д., — чтобы потом использовать это в своих кампаниях.</p>
          <p>
            <strong>Пример нумерованного списка:</strong>
          </p>
          <ol>
            <li>Первый вопрос, на который нужно ответить при подготовке кампании, — «Кому?».</li>
            <li>Как раз для этого и нужен анализ аудитории.</li>
            <li>Он поможет определить, кому из списка лидов действительно может понадобиться продвигаемый продукт и как лучше подступиться к этому сегменту.</li>
          </ol>
          <p>Возвращаясь к емейл-маркетингу и CRM, нужно выделить еще три важных вопроса:</p>
          <p>
            <i>— Какую именно информацию о пользователях вы хотите использовать для кампаний?</i>
          </p>
          <p>Вы знаете, что у клиента есть квартира, машина, двое детей, посещающих частную школу, вы знаете, что он в большей или меньшей степени интересуется 30 категориями товаров. Вам также известно, какие из этих товаров он уже приобрел, — соответственно, вы можете прогнозировать его покупательскую активность. Аналитические данные могут повлиять на систему скидок, продолжительность акций, время и частоту рассылки, тестовую стратегию и т. д.</p>
          <p>
            <i>— Как вы будете использовать пользовательские данные в вашей программе?</i>
          </p>
          <p>Здесь важна системность. Интеграция показателей емейл-кампании с информацией о клиентах может повлиять на общий алгоритм. Допустим, у вас есть сегмент с самой высокой кликабельностью (первая категория ценности). Если вы наложите на этот показатель пользовательскую аналитику, вы увидите, что рассматриваемый сегмент отличается и другими признаками, которые вы раньше не учитывали (возраст, семейное положение, профессия и т. д.).</p>
          <p>
            <i>— Как часто вы будете использовать эти данные?</i>
          </p>
          <p>Пользовательские данные — динамический показатель, поэтому важно адаптировать выработанные механизмы, если ситуация того требует. Даже если устоявшиеся модели доказали свою эффективность в предыдущих кампаниях.</p>
          <div class="total">
            <h5>Итог</h5>
            <p>Мы знаем, что весь мир сегодня подключен к интернету 24 часа в сутки. Мы знаем, что жизнь людей имеет нелинейный характер, а значит, необходимо постоянно подстраиваться под нее. Маркетологи должны знать, как не зависящие от них тренды влияют на их кампании. Они должны уметь прогнозировать эти тренды, чтобы быть во всеоружии в этой непрекращающейся борьбе за пользовательский отклик.</p>
          </div>
        </div>
      </div>
    </article>
    <div class="slider cleatfix">
      <a class="l" href="#"></a>
      <a class="r" href="#"></a>
      <div class="p">
        <div class="w">
          <div class="slide">
            <a href="#">
              <img alt="" src="i/3.jpg">
              Как оптимизировать RTB-кампании
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img alt="" src="i/3.jpg">
              Качество, показы, данные и будущее RTB: мнения специалистов
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img alt="" src="i/3.jpg">
              Как оптимизировать RTB-кампании
            </a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="label">Комментарии (21)</div>
      <div class="add_comment">
        <div class="label">Оставить комментарий:</div>
        <form action="">
          <div class="field clearfix">
            <label for="">Имя *</label>
            <div class="input">
              <input name="" type="text">
            </div>
          </div>
          <div class="field clearfix">
            <label for="">E-mail *</label>
            <div class="input">
              <input name="" type="text">
            </div>
          </div>
          <div class="field clearfix">
            <label for="">Вебсайт</label>
            <div class="input">
              <input name="" type="text">
            </div>
          </div>
          <div class="field clearfix">
            <label for="">Комментарий</label>
            <div class="input">
              <textarea cols="30" name="" rows="10"></textarea>
            </div>
          </div>
          <div class="field b_btn">
            <input type="submit" value="Отправить ">
          </div>
        </form>
      </div>
    </div>
  </section>
</section>
<footer>
  <div class="wrap">
    <a class="logo" href=""></a>
    <hr>
    <ul class="menu">
      <li>
        <a href="">Статьи</a>
      </li>
      <li>
        <a href="">новости</a>
      </li>
      <li>
        <a href="">кейсы</a>
      </li>
      <li>
        <a href="">Рекомендуем</a>
      </li>
    </ul>
    <div class="social">
      <a class="twitter" href=""></a>
      <a class="facebook" href=""></a>
    </div>
    <div class="copyright">
      Для связи с редакцией проекта пишите на
      <a href="mailto:info@rtbinsight.ru">info@rtbinsight.ru</a>
      <br>© RTB Insight.ru 2013</br>
    </div>
    <a class="top" href=""></a>
  </div>
</footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>

index.haml
<!-- @import 'partial/head.kit' -->

%header
  .line.clearfix
    .wrap
      .text 
        RTB Insight.ru. 
        %small Все о RTB (DSP, SSP, Ad Exchange, Ad Network, DMP, Data Exchange)
      .social
        %a.twitter{:href => ""}
        %a.facebook{:href => ""}

  .wrap
    %a.logo{:href => ""}
    %hr
    %ul.menu
      %li
        %a{:href => ""} Статьи
      %li
        %a{:href => ""} новости
      %li
        %a{:href => ""} кейсы
      %li
        %a{:href => ""} Рекомендуем

%section.wrap.main.clearfix

  %aside

    .banner
      %a{:href => ""}
        %img{:src => "i/banner.png", :alt => ""}

    .block.b_mini_articles
      .label Рекомендуем
      .e_mini_article
        %a.image.clearfix{:href => ""}
          %img{:src => "i/1.jpg", :alt => ""}
          .data
            %p.type Статьи
            %p.title Управление аудиториями
        %p.date 10 марта 2013
      .e_mini_article
        %a.image.clearfix{:href => ""}
          %img{:src => "i/1.jpg", :alt => ""}
          .data
            %p.type Статьи
            %p.title Управление аудиториями
        %p.date 10 марта 2013

    .block
      .label ближайшие события
      %a.e_event{:href => ""}
        %p.date.clearfix
          %span.number 19
          марта 
          %br 2013
        %p.title Семинар «Разработка и эффективное продвижение интернет-магазина»
        %p.text На семинаре будут рассмотрены все вопросы, касающиеся эффективной электронной коммерции, способах привлечения покупателей и увеличению прибыли вашего интернет-магазина.
      %a.e_event{:href => ""}
        %p.date.clearfix
          %span.number 19
          марта 
          %br 2013
        %p.title Семинар «Разработка и эффективное продвижение интернет-магазина»
        %p.text На семинаре будут рассмотрены все вопросы, касающиеся эффективной электронной коммерции, способах привлечения покупателей и увеличению прибыли вашего интернет-магазина.

    .block.b_tags
      .label метки
      %a{:href => ""} future is here
      %a{:href => ""} optimization
      %a{:href => ""} real
      %a{:href => ""} time creative
      %a{:href => ""} rtc
      %a{:href => ""} динамический креатив

    .block
      .label свежие комментарии
      .e_comment
        %dl
          %dd 10 марта 2013
          %dt Управление аудиториями
        %p
          %i
          %a{:href => ""} Билл Гэйтс, Марк Цукерберг и т.д. призывают обучаться программированию на этом сайте.
      .e_comment
        %dl
          %dd 10 марта 2013
          %dt Управление аудиториями
        %p
          %i
          %a{:href => ""} Билл Гэйтс, Марк Цукерберг и т.д. призывают обучаться программированию на этом сайте.

  %section.content

    %article
      .preview
        .left
          %p.type
            %i
            Статьи
          %p.author Валерий КАШИН
          %p.date 10 марта 2013
          %p.comments НЕТ КОММЕНТАРИЕВ
          %p.tags тэги: <a href="">rtc</a>, <a href="">optimization</a>, <a href="">creative</a>, <a href="">future</a>
          %hr
          .social
            
        .data
          %h4
            %a{:href => ""} Управление аудиториями
          %img{:src => "i/2.jpg", :alt => ""}
          %p 
            Tермин «управление аудиториями» постепенно просачивается в мир емейл-маркетинга и в этом контексте означает примерно следующее: управляя целевой аудиторией, вы комбинируете методы прямого маркетинга, продвижение через социальные сети и другие виды цифрового воздействия.  
            %a{:href => ""}Читать дальше

    %article
      .preview
        .left
          %p.type
            %i
            Статьи
          %p.author Валерий КАШИН
          %p.date 10 марта 2013
          %p.comments НЕТ КОММЕНТАРИЕВ
          %p.tags тэги: <a href="">rtc</a>, <a href="">optimization</a>, <a href="">creative</a>, <a href="">future</a>
          %hr
          .social
    
        .data
          %h4
            %a{:href => ""} Как оптимизировать RTB-кампании?
          %img{:src => "i/2.jpg", :alt => ""}
          %p 
            Tермин «управление аудиториями» постепенно просачивается в мир емейл-маркетинга и в этом контексте означает примерно следующее: управляя целевой аудиторией, вы комбинируете методы прямого маркетинга, продвижение через социальные сети и другие виды цифрового воздействия.  
            %a{:href => ""}Читать дальше
        .long
          %p Вообще, анализ аудитории — это удивительная штука. Сегодня вы можете узнать об этих когда-то безликих людях всё или почти всё. Начиная с того, какое устройство они чаще используют для выхода в интернет, и заканчивая их вкусами, увлечениями и поведенческими паттернами. Вы можете вычислить, что человек интересуется или уже хочет приобрести тот или иной продукт, и показать ему рекламу этого продукта в нужном месте и в нужное время — например, когда он находится на сайте сопутствующих товаров или просматривает тематическое сообщество в социальной сети. 
          %p В случае с емейл-маркетингом задача специалиста состоит в том, чтобы сделать формат сообщения удобоваримым для получателя. 
          %p
            %strong Пример маркированного списка:
          %ul
            %li Первый вопрос, на который нужно ответить при подготовке кампании, — «Кому?». 
            %li Как раз для этого и нужен анализ аудитории. 
            %li Он поможет определить, кому из списка лидов действительно может понадобиться продвигаемый продукт и как лучше подступиться к этому сегменту.
          %p Социальный маркетинг уступает другим видам в плане монетизации, но это огромное информационное поле, которое оказывает сильное влияние на другие онлайн-каналы и на электронный CRM. В социальных сетях вы можете получить исчерпывающую информацию о том, что происходит в жизни людей, чем они интересуются, каким брендам отдают предпочтение и т. д., — чтобы потом использовать это в своих кампаниях.
          %p 
            %strong Пример нумерованного списка:
          %ol
            %li Первый вопрос, на который нужно ответить при подготовке кампании, — «Кому?». 
            %li Как раз для этого и нужен анализ аудитории. 
            %li Он поможет определить, кому из списка лидов действительно может понадобиться продвигаемый продукт и как лучше подступиться к этому сегменту.
          %p Возвращаясь к емейл-маркетингу и CRM, нужно выделить еще три важных вопроса:
          %p 
            %i — Какую именно информацию о пользователях вы хотите использовать для кампаний?
          %p Вы знаете, что у клиента есть квартира, машина, двое детей, посещающих частную школу, вы знаете, что он в большей или меньшей степени интересуется 30 категориями товаров. Вам также известно, какие из этих товаров он уже приобрел, — соответственно, вы можете прогнозировать его покупательскую активность. Аналитические данные могут повлиять на систему скидок, продолжительность акций, время и частоту рассылки, тестовую стратегию и т. д.
          %p 
            %i — Как вы будете использовать пользовательские данные в вашей программе?
          %p Здесь важна системность. Интеграция показателей емейл-кампании с информацией о клиентах может повлиять на общий алгоритм. Допустим, у вас есть сегмент с самой высокой кликабельностью (первая категория ценности). Если вы наложите на этот показатель пользовательскую аналитику, вы увидите, что рассматриваемый сегмент отличается и другими признаками, которые вы раньше не учитывали (возраст, семейное положение, профессия и т. д.).
          %p
            %i — Как часто вы будете использовать эти данные?
          %p Пользовательские данные — динамический показатель, поэтому важно адаптировать выработанные механизмы, если ситуация того требует. Даже если устоявшиеся модели доказали свою эффективность в предыдущих кампаниях.
          .total
            %h5 Итог
            %p Мы знаем, что весь мир сегодня подключен к интернету 24 часа в сутки. Мы знаем, что жизнь людей имеет нелинейный характер, а значит, необходимо постоянно подстраиваться под нее. Маркетологи должны знать, как не зависящие от них тренды влияют на их кампании. Они должны уметь прогнозировать эти тренды, чтобы быть во всеоружии в этой непрекращающейся борьбе за пользовательский отклик.

    .slider.cleatfix
      %a.l{:href => "#"}
      %a.r{:href => "#"}
      .p
        .w
          .slide
            %a{:href => "#"}
              %img{:src => "i/3.jpg", :alt => ""}
              Как оптимизировать RTB-кампании
          .slide
            %a{:href => "#"}
              %img{:src => "i/3.jpg", :alt => ""}
              Качество, показы, данные и будущее RTB: мнения специалистов
          .slide
            %a{:href => "#"}
              %img{:src => "i/3.jpg", :alt => ""}
              Как оптимизировать RTB-кампании
          .clear

    .comments
      .label Комментарии (21)
      .add_comment
        .label Оставить комментарий:
        %form{:action => ""}
          .field.clearfix
            %label{:for => ""} Имя *
            .input
              %input{:type => "text", :name => ""}
          .field.clearfix
            %label{:for => ""} E-mail *
            .input
              %input{:type => "text", :name => ""}
          .field.clearfix
            %label{:for => ""} Вебсайт
            .input
              %input{:type => "text", :name => ""}
          .field.clearfix
            %label{:for => ""} Комментарий
            .input
              %textarea{:name => "", :cols => "30", :rows => "10"}
          .field.b_btn
            %input{:type => "submit", :value => "Отправить "}

%footer
  .wrap
    %a.logo{:href => ""}
    %hr
    %ul.menu
      %li
        %a{:href => ""} Статьи
      %li
        %a{:href => ""} новости
      %li
        %a{:href => ""} кейсы
      %li
        %a{:href => ""} Рекомендуем
    .social
      %a.twitter{:href => ""}
      %a.facebook{:href => ""}
    .copyright 
      Для связи с редакцией проекта пишите на 
      %a{:href => "mailto:info@rtbinsight.ru"} info@rtbinsight.ru
      %br © RTB Insight.ru 2013
    %a.top{:href => ""}
  
<!-- @import 'partial/foot.kit' -->
